- description = current_page.data.description
- if description
  %meta{name: "description", content: description}

%meta{content: data.site.title, property: "og:site_name"}
- if current_page.data.title
  %meta{content: current_page.data.title, property: "og:title"}
- else
  %meta{content: data.site.title, property: "og:title"}

- if current_page.data.title
  %meta{content: "article", property: "og:type"}
- else
  %meta{content: "website", property: "og:type"}

- if current_page.url
  %meta{content: "#{data.site.url}#{current_page.url}", property: "og:url"}

- if current_page.data.date
  %meta{content: current_page.data.date, property: "article:published_time"}
  %meta{content: "#{data.site.url}/about", property: "article:author"}

- if current_page.data.image_title
  %meta{content: "#{data.site.url}#{current_page.data.image_title}", property: "og:image"}
- else
  %meta{content: "#{data.site.url}/images/gitlab_logo.png", property: "og:image"}
