%ul.nav.navbar-nav.animated
  %li{class: ("active" if current_page.url == "/downloads/")}
    %a{href: "/downloads"}
      Download
  %li{class: ("active" if current_page.url == "/features/")}
    %a{href: "/features"}
      Features
  %li{class: ("active" if current_page.url == "/pricing/")}
    %a{href: "/pricing"}
      Pricing
  %li{class: ("active" if current_page.url == "/community/")}
    %a{href: "/community"}
      Community
  %li
    %a{href: "https://gitlab.com/explore"}
      Explore
  %li{class: ("active" if current_page.url == "/blog/" || current_page.respond_to?(:blog_data))}
    %a{href: "/blog"}
      Blog
  %li
    = partial "includes/layout/search"
  %li
    %a.sign-in-up-btn{href: "https://gitlab.com/users/sign_in"}
      Sign In
